<table class="table table-bordered">
    <tr>
        <td class="bg-primary text-white">Danh mục sản phẩm</td>
    </tr>
    <tr>
        <td>Áo dài</td>
    </tr>
    <tr>
        <td>Áo đông</td>
    </tr>
    <tr>
        <td>Túi xách</td>
    </tr>
    <tr>
        <td>Đồng hồ</td>
    </tr>
    <tr>
        <td>Ví da</td>
    </tr>
    <tr>
        <td>Thắt lưng</td>
    </tr>
    <tr>
        <td>Tủ lạnh</td>
    </tr>
    <tr>
        <td>Tivi</td>
    </tr>
    <tr>
        <td>Quạt điện</td>
    </tr>
    <tr>
        <td>Lò sưởi</td>
    </tr>
</table>