<ul class="nav nav-treeview">
    <li class="nav-item">
        <a class="nav-link">
            <i class="fa-solid fa-grip"></i>
            Trang chính
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Categories" asp-action="Index">
            <i class="fa-solid fa-bars-staggered"></i>
            Danh mục
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Products" asp-action="Index">
            <i class="fa-solid fa-cart-shopping"></i>
            Sản phẩm
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Blogs" asp-action="Index">
            <i class="fa-brands fa-blogger-b"></i>
            Blogs
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Banners" asp-action="Index">
            <i class="fa-solid fa-chalkboard"></i>
            Banner
        </a>
    </li>
</ul>