@{
    ViewData["Title"] = "Home Page";
}

<partial name="Banner"></partial>
<hr />

<button id="loadAjax" class="btn btn-primary">Click load book từ PartialView</button>
<hr />

<div id="data-from-ajax" class="row">Loading data...</div>
<hr />


@section Scripts{
    <script>
        $('#loadAjax').click(function () {
            $('#data-from-ajax').load("Book/PopularBook");
        })
    </script>
}

@await Component.InvokeAsync("Book")