<ul class="nav nav-treeview">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Dashboard" asp-action="Index">
            <i class="fa-solid fa-grip"></i>
            Trang chính
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="AdminUsers" asp-action="Index">
            <i class="fa-solid fa-bars-staggered"></i>
            Quản lý tài khoản
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Products" asp-action="Index">
            <i class="fa-solid fa-cart-shopping"></i>
            Sản phẩm
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Blogs" asp-action="Index">
            <i class="fa-brands fa-blogger-b"></i>
            Blogs
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Banners" asp-action="Index">
            <i class="fa-solid fa-chalkboard"></i>
            Banner
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Accounts" asp-action="Index">
            <i class="fa-solid fa-user"></i>
            Account
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Customers" asp-action="Index">
            <i class="fa-regular fa-user"></i>
            Customer
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Orders" asp-action="Index">
            <i class="fa-solid fa-shop"></i>
            Order
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="OrderDetails" asp-action="Index">
            <i class="fa-solid fa-barcode"></i>
            OrderDetail
        </a>
    </li>
</ul>