<ul class="nav nav-treeview">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Dashboard" asp-action="Index">
            <i class="fa-solid fa-grip"></i>
            Trang chính
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="AdminUsers" asp-action="Index">
            <i class="fa-solid fa-bars-staggered"></i>
            Quản lý tài khoản
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Categories" asp-action="Index">
            <i class="fa-solid fa-cart-shopping"></i>
            Danh mục
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Banners" asp-action="Index">
            <i class="fa-brands fa-blogger-b"></i>
            Banner
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Contacts" asp-action="Index">
            <i class="fa-solid fa-blender-phone"></i>
            Contact
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="News" asp-action="Index">
            <i class="fa-regular fa-newspaper"></i>
            News
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Customers" asp-action="Index">
            <i class="fa-regular fa-user"></i>
            Customer
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Orders" asp-action="Index">
            <i class="fa-solid fa-shop"></i>
            Order
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Extensions" asp-action="Index">
            <i class="fa-solid fa-barcode"></i>
            Extension
        </a>
    </li>
</ul>