@model Lab09.Models.Extension

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/Admin.cshtml";
}

<h1 class="py-3">Thêm mới extension</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Tiêu đề</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Icon</label>
                <input asp-for="Icon" class="form-control" type="hidden" />
                <input class="form-control" type="file" name="UploadIcon" />
                <span asp-validation-for="Icon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaTitle" class="control-label"></label>
                <input asp-for="MetaTitle" class="form-control" />
                <span asp-validation-for="MetaTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaKeyword" class="control-label"></label>
                <input asp-for="MetaKeyword" class="form-control" />
                <span asp-validation-for="MetaKeyword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaDescription" class="control-label"></label>
                <input asp-for="MetaDescription" class="form-control" />
                <span asp-validation-for="MetaDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Orders" class="control-label"></label>
                <input asp-for="Orders" class="form-control" />
                <span asp-validation-for="Orders" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parentid" class="control-label"></label>
                <input asp-for="Parentid" class="form-control" />
                <span asp-validation-for="Parentid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Ghi chú</label>
                <textarea asp-for="Notes" class="form-control ckeditor" id="inputCK"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-select" aria-label="Default select example">
                    <option value="1">Active</option>
                    <option value="0">Inactive</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        CKEDITOR.replace('inputCK', {
            customConfig: '/content/plugin/ckeditor/config.js',
            extraAllowedContent: 'span',
        });
    </script>
}