@model Lab09.Models.News

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/Admin.cshtml";
}

<h1 class="py-3">Sửa tin tức</h1>

<form asp-action="Edit" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">Code</label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tiêu đề</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Mô tả</label>
                <textarea asp-for="Description" class="form-control ckeditor" id="inputCK"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nội dung</label>
                <textarea asp-for="Content" class="form-control ckeditor" id="inputCK2"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaTitle" class="control-label"></label>
                <input asp-for="MetaTitle" class="form-control" />
                <span asp-validation-for="MetaTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainKeyword" class="control-label"></label>
                <input asp-for="MainKeyword" class="form-control" />
                <span asp-validation-for="MainKeyword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaKeyword" class="control-label"></label>
                <input asp-for="MetaKeyword" class="form-control" />
                <span asp-validation-for="MetaKeyword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaDescription" class="control-label"></label>
                <input asp-for="MetaDescription" class="form-control" />
                <span asp-validation-for="MetaDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Views" class="control-label"></label>
                <input asp-for="Views" class="form-control" />
                <span asp-validation-for="Views" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Likes" class="control-label"></label>
                <input asp-for="Likes" class="form-control" />
                <span asp-validation-for="Likes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Star" class="control-label"></label>
                <input asp-for="Star" class="form-control" />
                <span asp-validation-for="Star" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="AdminCreated" class="control-label"></label>
                <input asp-for="AdminCreated" class="form-control" />
                <span asp-validation-for="AdminCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Trạng thái</label>
                <select asp-for="Status" class="form-select" aria-label="Default select example">
                    <option value="1">Active</option>
                    <option value="0">Inactive</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group pl-5">
                <label class="control-label">Hình ảnh</label><br />
                <img src="@Model.Image" alt="@Model.Title" width="300" class="pb-3" />
                <input asp-for="Image" class="form-control" type="hidden" />
                <input class="form-control" type="file" name="UploadImage" style="width:300px" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script>
        CKEDITOR.replace('inputCK', {
            customConfig: '/content/plugin/ckeditor/config.js',
            extraAllowedContent: 'span',
        });

        CKEDITOR.replace('inputCK2', {
            customConfig: '/content/plugin/ckeditor/config.js',
            extraAllowedContent: 'span',
        });
    </script>
}