@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Danh sách sản phẩm</h1>

    <div class="d-flex justify-content-between">
        <div class="border border-secondary border-1">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzWP-GhnPHtqjfqHESZxYDoDOKb9GUpnvsvbXML8a_ker0ksWQHZHDrpQhtEWJnN82YTM&usqp=CAU" />
            <p>Sản phẩm 1</p>
        </div>
        <div class="border border-secondary border-1">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzWP-GhnPHtqjfqHESZxYDoDOKb9GUpnvsvbXML8a_ker0ksWQHZHDrpQhtEWJnN82YTM&usqp=CAU" />
            <p>Sản phẩm 2</p>
        </div>
        <div class="border border-secondary border-1">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzWP-GhnPHtqjfqHESZxYDoDOKb9GUpnvsvbXML8a_ker0ksWQHZHDrpQhtEWJnN82YTM&usqp=CAU" />
            <p>Sản phẩm 3</p>
        </div>
        <div class="border border-secondary border-1">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzWP-GhnPHtqjfqHESZxYDoDOKb9GUpnvsvbXML8a_ker0ksWQHZHDrpQhtEWJnN82YTM&usqp=CAU" />
            <p>Sản phẩm 4</p>
        </div>
    </div>
</div>
