@model Lab09.Models.Category

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/Admin.cshtml";
}

<h1>Thông tin chi tiết</h1>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Tiêu đề</label>
            <input asp-for="Title" class="form-control" readonly />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Biểu tượng</label>
            <img src="@Model.Icon" alt="@Model.Slug" width="60" />
            <span asp-validation-for="Icon" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Slug</label>
            <input asp-for="Slug" class="form-control" readonly />
            <span asp-validation-for="Slug" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Đặt hàng</label>
            <input asp-for="Orders" class="form-control" readonly />
            <span asp-validation-for="Orders" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Parent Id</label>
            <input asp-for="Parentid" class="form-control" readonly />
            <span asp-validation-for="Parentid" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Ngày tạo</label>
            <input asp-for="CreatedDate" class="form-control" readonly />
            <span asp-validation-for="CreatedDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Ngày cập nhật</label>
            <input asp-for="UpdatedDate" class="form-control" readonly />
            <span asp-validation-for="UpdatedDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Người tạo</label>
            <input asp-for="AdminCreated" class="form-control" readonly />
            <span asp-validation-for="AdminCreated" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Người cập nhật</label>
            <input asp-for="AdminUpdated" class="form-control" readonly />
            <span asp-validation-for="AdminUpdated" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Ghi chú</label>
            <input asp-for="Notes" class="form-control" readonly />
            <span asp-validation-for="Notes" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Trang thái</label>
            <input class="form-control" readonly @if (Model.Status == 1)
            {
                <text>value="Active"</text>
            }
            else
            {
                <text>value="Inactive"</text>
            }
            />
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
