@model Lab09.Models.Order

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Idorders" class="control-label"></label>
                <input asp-for="Idorders" class="form-control" />
                <span asp-validation-for="Idorders" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrdersDate" class="control-label"></label>
                <input asp-for="OrdersDate" class="form-control" />
                <span asp-validation-for="OrdersDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idcustomer" class="control-label"></label>
                <input asp-for="Idcustomer" class="form-control" />
                <span asp-validation-for="Idcustomer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idpayment" class="control-label"></label>
                <input asp-for="Idpayment" class="form-control" />
                <span asp-validation-for="Idpayment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalMoney" class="control-label"></label>
                <input asp-for="TotalMoney" class="form-control" />
                <span asp-validation-for="TotalMoney" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameReciver" class="control-label"></label>
                <input asp-for="NameReciver" class="form-control" />
                <span asp-validation-for="NameReciver" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Isdelete" class="control-label"></label>
                <input asp-for="Isdelete" class="form-control" />
                <span asp-validation-for="Isdelete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Isactive" class="control-label"></label>
                <input asp-for="Isactive" class="form-control" />
                <span asp-validation-for="Isactive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

