@model Lab06_practice.Models.Student

@{
    ViewData["Title"] = "Create";
}

<h1>Thêm mới sinh viên</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentName" class="control-label"></label>
                <input asp-for="StudentName" class="form-control" />
                <span asp-validation-for="StudentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentEmail" class="control-label"></label>
                <input asp-for="StudentEmail" class="form-control" />
                <span asp-validation-for="StudentEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentPhone" class="control-label"></label>
                <input asp-for="StudentPhone" class="form-control" />
                <span asp-validation-for="StudentPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentAddress" class="control-label"></label>
                <input asp-for="StudentAddress" class="form-control" />
                <span asp-validation-for="StudentAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentAvatar" class="control-label"></label>
                <input asp-for="StudentAvatar" class="form-control" type="file" />
                <span asp-validation-for="StudentAvatar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentBirthday" class="control-label"></label>
                <input asp-for="StudentBirthday" class="form-control" />
                <span asp-validation-for="StudentBirthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StdClassId" class="control-label"></label>
                <select asp-for="StdClassId" class ="form-control" asp-items="ViewBag.StdClassId"></select>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
