@model IEnumerable<Lab03_ex.Models.Product>

<div class="row border border-1 mt-3">
    <h4 class="bg-primary text-white p-2 rounded-1">Sản phẩm bán chạy</h4>
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="border border-1 p-3">
                <img src="@item.Image" class="w-100">
                <h4 class="pt-3">@item.Name</h4>
            </div>
        </div>
    }
</div>