@{
    ViewData["Title"] = "Home Page";
}



<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <section id="introblocks">
      <div class="sectiontitle">
        <h6 class="heading">Erat etiam aliquet diam nec purus</h6>
        <p>Vitae porta purus hendrerit mauris elementum nibh et placerat</p>
      </div>
      <ul class="nospace group">
        <li class="one_third first">
          <article><a href="#"><i class="fas fa-allergies"></i></a>
            <h6 class="heading">Pretium ante libero</h6>
            <p>Cursus massa nec vehicula nunc neque et risus mauris rhoncus at justo ac lacinia maecenas [&hellip;]</p>
            <footer><a class="btn" href="#">Read More</a></footer>
          </article>
        </li>
        <li class="one_third">
          <article><a href="#"><i class="fas fa-cube"></i></a>
            <h6 class="heading">Malesuada justo metus</h6>
            <p>Sit amet ornare enim tempus sed nec consequat quam nam viverra purus ac justo iaculis facilisis [&hellip;]</p>
            <footer><a class="btn" href="#">Read More</a></footer>
          </article>
        </li>
        <li class="one_third">
          <article><a href="#"><i class="fas fa-podcast"></i></a>
            <h6 class="heading">Vivamus tempor bibendum</h6>
            <p>Dolor quis pretium metus vehicula id praesent ac dolor condimentum dapibus erat eget placerat [&hellip;]</p>
            <footer><a class="btn" href="#">Read More</a></footer>
          </article>
        </li>
      </ul>
    </section>
    <hr class="btmspace-80">
    <section>
      <div class="sectiontitle">
        <h6 class="heading">Metus vestibulum fermentum</h6>
        <p>Neque vel malesuada ultrices mi est vulputate ex sit amet</p>
      </div>
      <ul class="nospace group overview">
        <li class="one_third">
          <figure><a href="#"><img src="images/demo/348x261.png" alt=""></a>
            <figcaption>
              <h6 class="heading">Posuere nisl lorem</h6>
              <p>Nisi egestas nunc nibh urna molestie in gravida vel tincidunt.</p>
            </figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><a href="#"><img src="images/demo/348x261.png" alt=""></a>
            <figcaption>
              <h6 class="heading">Curabitur vestibulum</h6>
              <p>Id metus aliquam id fringilla dui duis scelerisque sed mi.</p>
            </figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><a href="#"><img src="images/demo/348x261.png" alt=""></a>
            <figcaption>
              <h6 class="heading">Hendrerit leo vestibulum</h6>
              <p>Sed varius sed ex eros accumsan eget nisl a laoreet porta.</p>
            </figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><a href="#"><img src="images/demo/348x261.png" alt=""></a>
            <figcaption>
              <h6 class="heading">Euismod urna sed</h6>
              <p>Urna vestibulum suscipit lacus quis odio vestibulum venenatis.</p>
            </figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><a href="#"><img src="images/demo/348x261.png" alt=""></a>
            <figcaption>
              <h6 class="heading">Tincidunt a posuere</h6>
              <p>Phasellus vel hendrerit lorem sed tristique lacus in auctor.</p>
            </figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><a href="#"><img src="images/demo/348x261.png" alt=""></a>
            <figcaption>
              <h6 class="heading">Posuere elit vel</h6>
              <p>Euismod libero sodales ut cum sociis natoque penatibus et magnis.</p>
            </figcaption>
          </figure>
        </li>
      </ul>
    </section>
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
