@{
    ViewData["Title"] = "Sản phẩm";
}

<h2>Quản lý sản phẩm</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Create-At</th>
            <th scope="col">Image</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Product 1</td>
            <td>500.000 đ</td>
            <td>25-12-2005</td>
            <td>
                <img class="w-25" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzWP-GhnPHtqjfqHESZxYDoDOKb9GUpnvsvbXML8a_ker0ksWQHZHDrpQhtEWJnN82YTM&usqp=CAU" />
            </td>
            <td>
                <input type="button" class="btn btn-success" value="View" />
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Product 2</td>
            <td>500.000 đ</td>
            <td>25-12-2005</td>
            <td>
                <img class="w-25" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzWP-GhnPHtqjfqHESZxYDoDOKb9GUpnvsvbXML8a_ker0ksWQHZHDrpQhtEWJnN82YTM&usqp=CAU" />
            </td>
            <td>
                <input type="button" class="btn btn-success" value="View" />
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Product 3</td>
            <td>500.000 đ</td>
            <td>25-12-2005</td>
            <td>
                <img class="w-25" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzWP-GhnPHtqjfqHESZxYDoDOKb9GUpnvsvbXML8a_ker0ksWQHZHDrpQhtEWJnN82YTM&usqp=CAU" />
            </td>
            <td>
                <input type="button" class="btn btn-success" value="View" />
            </td>
        </tr>
    </tbody>
</table>
