@model Lab09.Models.Customer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/Admin.cshtml";
}

<h1 class="py-3">Chi tiết khách hàng</h1>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Tên</label>
            <input asp-for="Name" class="form-control" readonly />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Tài khoản</label>
            <input asp-for="Username" class="form-control" readonly />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Mật khẩu</label>
            <input asp-for="Password" class="form-control" readonly />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Địa chỉ</label>
            <input asp-for="Address" class="form-control" readonly />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Email</label>
            <input asp-for="Email" class="form-control" readonly />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Điện thoại</label>
            <input asp-for="Phone" class="form-control" readonly />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Ngày tạo</label>
            <input asp-for="CreatedDate" class="form-control" readonly />
            <span asp-validation-for="CreatedDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Ngày cập nhật</label>
            <input asp-for="UpdateDate" class="form-control" readonly />
            <span asp-validation-for="UpdateDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Người tạo</label>
            <input asp-for="CreatedBy" class="form-control" readonly />
            <span asp-validation-for="CreatedBy" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Người cập nhật</label>
            <input asp-for="UpdateBy" class="form-control" readonly />
            <span asp-validation-for="UpdateBy" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Trạng thái</label>
            <input class="form-control" readonly @if (Model.Isactive == 1)
            {
                <text>value="Active"</text>
            }
            else
            {
                <text>value="Inactive"</text>
            }
            />
            <span asp-validation-for="Isactive" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group pl-5">
            <label class="control-label">Ảnh đại diện</label><br />
            <img src="@Model.Avatar" alt="@Model.Avatar" width="300" />
            <span asp-validation-for="Avatar" class="text-danger"></span>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
